form
{
    display: flex;
    flex-flow: row wrap;
}

form > section
{
    border: 2px solid black;
    border-radius: 2em;
    margin: 1em;
    padding: 1em;

    position: relative;
    display: flex;
    flex: auto;
    flex-flow: row wrap;
}

section > h2 {
    text-align: center;
    position: absolute;
    top: -0.5em;
    left: 2em;
    padding: 0 1em;
    margin: 0;
    background: white;
}

section > p {
    flex-basis: 100%;
}

fieldset
{
    padding: 0 1em 1em;
    flex: auto;
    border-radius: 1em;
}

fieldset > label
{
    display: block;
    max-width: 16em;
    min-width: fit-content;
}

h1
{
    flex-basis: 100%;
    text-align: center;
}

output
{
    font-size: 3em;
    vertical-align: middle;
}

input[type="reset"]
{
    margin-left: auto
}

footer
{
    margin: 1em;
}